page-eightball {
    h4 {
        color: #369;
        font-family: 'Arial, sans-serif';
        font-size: 250%;
      }

    h2 {
        color: #369;
        font-family: 'Arial, sans-serif';
        font-size: 200%;
      }

    .wrapper {
        text-align: center;
    }
    
    .questionOutput {
        text-align: center;
    }

    .questionInput {
        text-align: center;
        width: 225px; 
        margin-left:auto; 
        margin-right: auto; 
        border: 10px;
        border-color: #369;
    }

}
